<section id="about-section">
    <div id="about-logo"></div>
    <h2>Welcome to our project!</h2>
    <h3></h3>
    <h5></h5>
    <ul>
        <li><a href="https://github.com/rozay" target="_blank">Rositsa Popova</a></li>
        <li><a href="https://github.com/nmnikolov" target="_blank">Nikola Nikolov</a></li>
        <li><a href="https://github.com/benadaephondelat" target="_blank">Georgi Iliev</a></li>
        <li><a href="https://github.com/kur6uma666" target="_blank">Martin Kurshumov</a></li>
    </ul>
    <h3></h3>
    <h5>

    </h5>
    <p></p>
</section>